<div class='container'>
  <p id="notice"><%= notice %></p>
  <div class='row'>
    <div class='col-sm-6'>
      <h1>Rooms</h1>
    </div>
    <div class='col-sm-6'>
    <%= link_to 'Sign out', destroy_session_path(current_user), method: :delete, class: 'btn btn-primary float-right ml-2' %>
    <%= link_to 'New Room', new_room_path, class: 'btn btn-primary float-right' %>
    </div>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th colspan="5">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= room.name %></td>
          <td><%= link_to 'Show', room, class: 'btn btn-info btn-sm'  %></td>
          <td><%= link_to 'Edit', edit_room_path(room), class: 'btn btn-success btn-sm' %></td>
          <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %></td>
          <td><%= link_to 'View recorded session', room_recorded_session_path(room), class: 'btn btn-warning btn-sm' %></td>
          <td><%= link_to 'Delete recording', room_delete_archive_path(room), remote: true, class: 'btn btn-danger btn-sm' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>