<div class="page-header">
  <%= link_to rooms_path, class: 'btn btn-default' do %>
    All Rooms
  <% end %>
  <%= link_to edit_room_path(@room), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show room</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @room.name %></dd>
</dl>
<div id='publisher'></div>
<div id='subscribers'></div>
<td><%= link_to 'Start session', room_start_session_path(@room), remote: true %></td>
<td><%= link_to 'Join session', room_join_session_path(@room), remote: true %></td>
<td><%= link_to 'Start recording', room_start_archive_path(@room), remote: true %></td>
<td><%= link_to 'Stop recording', room_stop_archive_path(@room), remote: true %></td>
<button id='disablevideopub'>Disable publisher camera</button>
<button id='disablevideosub'>Disable subscriber camera</button>
